@import "../../../styles";

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  &__header {
    margin-top: 24px;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
    user-select: none;
    font-weight: 700;

    svg {
      cursor: pointer;
      width: 16px;
      height: 16px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
  }

  &__day_name {
    margin: 0 auto 24px;
    font-weight: 700;
  }

  &__entry {
    width: 160px;
    height: 120px;
    padding: 12px;
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__date {
      display: flex;
      justify-content: end;
      font-size: 24px;

      & > span:last-child {
        margin-left: auto;
      }
    }

    &__more {
      align-self: end;
    }

    &.inactive {
      background-color: $light;
      color: #808080;
    }

    &.holiday {
      color: #C50000;
    }

    &.holiday.inactive {
      color: #FF7979;
    }
  }

  &__slot {
    border-radius: 4px;
    background-color: orange;
    padding: 4px 8px;
    cursor: pointer;

    &.empty {
      background-color: rgba(79, 192, 255, 1);
    }

    &.need {
      background-color: rgba(82, 255, 79, 1);
    }

    &.done {
      background-color: rgba(169, 169, 169, 1);
    }
  }
}
