.calendar-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px auto;
  gap: 12px;

  &__fab {
    position: sticky;
    margin: 0 48px 0 auto;
    cursor: pointer;
    background-color: #C50000;
    height: 30px;
    width: 30px;
    fill: white;
    border-radius: 50%;
    padding: 10px;
  }
}
